@font-face {
  font-family: 'RuneScape Small';
  src: url('../fonts/runescape_small.ttf') format('truetype');
  font-display: block;
}
@font-face {
  font-family: 'RuneScape';
  src: url('../fonts/runescape.ttf') format('truetype');
  font-display: block;
}
@font-face {
  font-family: 'RuneScape Bold';
  src: url('../fonts/runescape_bold.ttf') format('truetype');
  font-display: block;
}
@font-face {
  font-family: 'RuneScape Quill';
  src: url('../fonts/RuneScape-Quill.otf') format('opentype');
  font-display: block;
}
@font-face {
  font-family: 'RuneScape Quill 8';
  src: url('../fonts/RuneScape-Quill-8.otf') format('opentype');
  font-display: block;
}
